<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.santasgifts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--    <uses-permission-->
    <!--        android:name="com.google.android.gms.permission.AD_ID"-->
    <!--        tools:node="remove" />-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/e6"
        android:label="@string/app_name"
        android:roundIcon="@drawable/e6"
        android:supportsRtl="true"
        android:theme="@style/Theme.SantasGiftsMain"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">

        <activity
            android:name=".view.g.GActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".view.Wv.WvActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name=".view.load.LoadingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.SpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="my_database.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/cl" />
    </application>

</manifest>